@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* 본고딕 */
@font-face {
	font-family: "Noto Sans KR";
	font-weight: normal;
	src: url("../fonts/notokr-regular.eot");
	src: local("※"), 
	url("../fonts/notokr-regular.woff2") format("woff2"), 
	url("../fonts/notokr-regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 500;
	src: url("../fonts/notokr-medium.eot");
	src: local("※"), 
	url("../fonts/notokr-medium.woff2") format("woff2"), 
	url("../fonts/notokr-medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 700;
	src: url("../fonts/notokr-bold.eot");
	src: local("※"), 
	url("../fonts/notokr-bold.woff2") format("woff2"), 
	url("../fonts/notokr-bold.woff") format("woff");
}

/*=========================================================
2. 리셋
=========================================================*/

html {letter-spacing:-0.025em;}
/* html,body {height:100%;} */
html.fixed,
body.fixed {overflow:hidden; position:fixed; width:100%; -ms-touch-action:none; touch-action:none;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {-webkit-box-sizing:border-box;box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Roboto",'Noto Sans KR',Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; vertical-align:baseline;}

input[type="text"],input[type="email"],input[type="number"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],select,button,textarea {margin:0; padding:0; box-sizing:border-box; border:none; border-radius:0; background:none; font-family:"Roboto",'Noto Sans KR',Dotum,'돋움',Helvetica,'Apple SD Gothic Neo',sans-serif; font-size:100%; letter-spacing:0; -webkit-box-sizing:border-box; cursor:pointer; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
select::-ms-expand {display:none;}
body {background:#fff; font-size:14px; line-height:1.5em; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
blockquote,q {quotes:none;}
table {width:100%; background:#fff; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#333; text-decoration:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
button {cursor:pointer; background:transparent;}
button span {position:relative;}
textarea {resize:none;}
em,address,i {font-style:normal;}
:focus {outline:0 !important;}
:invalid {-webkit-box-shadow:none;box-shadow:none;}
:disabled {background:#f1f1f1 !important; cursor:not-allowed !important;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
label {cursor:pointer;}
caption {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Hidden */
.hidden {overflow:hidden; clip:rect(0 0 0 0); position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0;}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#bbb;}
::-moz-placeholder {font-weight:400; color:#bbb;}
:-ms-input-placeholder {font-weight:400; color:#bbb;}
:-moz-placeholder {font-weight:400; color:#bbb;}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

.container {position:relative; max-width:1160px; margin:0 auto; padding:0 30px;}
.move_top {visibility:hidden; position:fixed; right:30px; bottom:30px; z-index:7; -webkit-transition:all .3s; transition:all .3s; opacity:0;}
.move_top.on {visibility:visible; bottom:40px; opacity:1;}
.move_top button {position:relative; width:30px; height:30px; line-height:1; border:1px solid #333; background:#fff; text-align:center; text-indent:-9999px; -webkit-transition:all .3s; transition:all .3s;}
.move_top button:hover {background:#f73983;}
.move_top button:before {content:''; position:absolute; top:5px; left:50%; width:0; height:0; margin-left:-6px; border-width:6px; border-style:solid; border-color:transparent transparent #f73983 transparent; background:none; -webkit-transition:all .3s; transition:all .3s;}
.move_top button:hover:before {border-bottom-color:#fff;}

@media (max-width:1024px) {
	.content {padding-top:70px;}
}

@media (max-width:599px) {
	.container {padding:0 15px;}
	.move_top {right:15px;}
}

/* 입력폼 */
input[type='text'] {line-height:38px; padding:0 15px; border:1px solid #dfdfdf; font-size:16px;}

/* 체크박스 */
[data-checkbox] {margin:3px 0;}
[data-checkbox] ul {margin:-3px 0; font-size:0;}
[data-checkbox] ul > li {float:left; line-height:1; margin:3px 0;}
[data-checkbox] input[type='checkbox'] {width:0; height:0; line-height:0; margin:0; padding:0; font-size:0; opacity:0;}
[data-checkbox] ul:after,
[data-checkbox] ul > li:after {content:''; display:block; clear:both;}
[data-checkbox] input[type='checkbox'] + label {float:left; position:relative; line-height:20px; margin-right:30px; padding-left:30px; font-size:14px; font-weight:500; color:#333; cursor:pointer;}
[data-checkbox] input[type='checkbox']:focus + label {outline:1px dashed firebrick;}
[data-checkbox] ul > li:last-child input[type='checkbox'] + label {margin-right:0;}
[data-checkbox] input[type='checkbox'] + label:before {content:''; display:inline-block; position:absolute; top:50%; left:0; width:20px; height:20px; margin-top:-10px; -webkit-box-sizing:border-box; box-sizing:border-box; border:1px solid #dedede; background:#fff;}
[data-checkbox] input[type='checkbox']:checked + label:after {content:''; display:inline-block; position:absolute; top:2px; left:7px; width:5px; height:10px; border-right:2px solid #f73983; border-bottom:2px solid #f73983; -webkit-transform:rotate(35deg) skewY(15deg); transform:rotate(35deg) skewY(15deg);}
[data-checkbox] input[type='checkbox']:disabled + label:before {background:#dedede;}

/* 라디오버튼 */
[data-radio] {margin:3px 0;}
[data-radio] ul {margin:-3px 0; font-size:0;}
[data-radio] ul > li {float:left; line-height:1; margin:3px 0;}
[data-radio] input[type='radio'] {width:0; height:0; line-height:0; margin:0; padding:0; font-size:0; opacity:0;}
[data-radio] ul:after,
[data-radio] ul > li:after {content:''; display:block; clear:both;}
[data-radio] input[type='radio'] + label {float:left; position:relative; line-height:20px; margin-right:30px; padding-left:30px; font-size:14px; font-weight:500; color:#333; cursor:pointer;}
[data-radio] input[type='radio']:focus + label {outline:1px dashed firebrick;}
[data-radio] ul > li:last-child input[type='radio'] + label {margin-right:0;}
[data-radio] input[type='radio'] + label:before {content:''; display:inline-block; position:absolute; top:50%; left:0; width:20px; height:20px; margin-top:-10px; -webkit-box-sizing:border-box; box-sizing:border-box; border:1px solid #dedede; border-radius:50%; background:#fff;}
[data-radio] input[type='radio']:checked + label:after {content:''; display:inline-block; position:absolute; top:50%; left:5px; width:10px; height:10px; margin-top:-5px; border-radius:50%; background:#f73983;}
[data-radio] input[type='radio']:disabled + label:before {background:#dedede;}

/* 셀렉트박스 */
[data-select-box] {display:inline-block; position:relative; background:#fff; font-size:16px; text-align:left; vertical-align:middle ;}
[data-select-box]:after {content:''; position:absolute; top:50%; right:10px; width:6px; height:6px; margin-top:-6px; border-right:2px solid #8c8c8c; border-bottom:2px solid #8c8c8c; -webkit-transition:all .2s; transition:all .2s; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
[data-select-box] select {position:relative; width:100%; max-width:300px; height:40px; line-height:40px; padding:0 28px 0 15px; border:1px solid #dfdfdf; font-size:16px; text-align:left; text-overflow:ellipsis;}


@media (max-width:1024px) {
	[data-select-box] select {max-width:100%;}
}

/* 제어 버튼 */
[data-btn] {display:inline-block; position:relative; min-width:115px; line-height:45px; margin:0 5px; padding:0 10px; border:0; border-radius:0; background:#f73983; font-size:16px; font-weight:700; color:#fff; text-align:center; white-space:nowrap;}
[data-btn]:only-child {margin:0;}
[data-btn].full {min-width:100%; margin:0;}
[data-ctr-btn] {margin-top:30px; font-size:0; text-align:center;}
[data-ctr-btn].right {text-align:right;}
[data-ctr-btn] [data-btn]:only-child {margin:0;}

@media (max-width:1024px) {
	[data-btn] {line-height:40px; font-size:14px;}
	[data-ctr-btn] {text-align:center !important;}
}

@media (max-width:599px) {
	[data-btn].wide {min-width:100%; margin:0;}
}

/* 검색창 */
[data-search-box] {margin-bottom:30px; font-size:0; text-align:center;}
[data-search-box] .search_wrap {display:inline-block;}
[data-search-box] [data-select-box].custom {vertical-align:top;}
[data-search-box] [data-select-box].custom button {line-height:48px; border-right:0;}
[data-search-box] input[type='text'] {width:290px; border-right:0; border-left:0; vertical-align:top;}
[data-search-box] .search {position:relative; width:58px; height:50px; border:1px solid #dfdfdf; border-left:0; vertical-align:top;}
[data-search-box] .search span {position:absolute; top:50%; left:50%; width:22px; height:22px; margin-top:-11px; margin-left:-11px; text-indent:-9999px;}
[data-search-box] .search span:before,
[data-search-box] .search span:after {content:''; position:absolute; -webkit-transition:all .3s; transition:all .3s;}
[data-search-box] .search span:before {right:0; bottom:0; width:8px; height:2px; background:#555; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transform-origin:right; transform-origin:right;}
[data-search-box] .search span:after {top:0; left:0; width:16px; height:16px; border:2px solid #555; border-radius:50%; background:#fff;}
[data-search-box] .search:hover span:before {background:#f73983;}
[data-search-box] .search:hover span:after {border-color:#f73983;}

@media (max-width:1024px) {
	[data-search-box] [data-select-box].custom button {line-height:38px;}
	[data-search-box] .search {width:40px; height:40px;}
}

@media (max-width:599px) {
	[data-search-box] .search_wrap {display:block;}
	[data-search-box] input[type="text"] {width:calc(100% - 140px);}
}

/* 탭메뉴 */
[data-tab-menu] {margin-bottom:30px;}
[data-tab-menu] ul {margin:-2px;}
[data-tab-menu] ul:after {content:''; display:block; clear:both;}
[data-tab-menu] ul li {display:table; float:left; padding:2px;}
[data-tab-menu] .type1 li {width:100%;}
[data-tab-menu] .type2 li {width:50%;}
[data-tab-menu] .type3 li {width:33.33%;}
[data-tab-menu] .type4 li {width:25%;}
[data-tab-menu] .type5 li {width:20%;}
[data-tab-menu] .type6 li {width:16.66%;}
[data-tab-menu] .type7 li {width:14.28%;}
[data-tab-menu] ul li:last-child {border-right:0;}
[data-tab-menu] ul li a {display:table-cell; width:100%; height:50px; line-height:1.3em; padding:0 10px; background:#999; font-size:18px; color:#fff; text-align:center; -webkit-transition:all .3s; transition:all .3s; vertical-align:middle; font-weight:700;}
[data-tab-menu] ul li a:hover,
[data-tab-menu] ul li a:focus,
[data-tab-menu] ul li.on a {background:#f73983;}
[data-tab-menu] ul li a span {display:table-cell; vertical-align:middle;}

@media (max-width:1024px) {
	[data-tab-menu] ul li {width:33.33% !important;}
	[data-tab-menu] ul li a {height:40px; font-size:16px;}
}

@media (max-width:599px) {
	[data-tab-menu] ul li {width:50% !important;}
	[data-tab-menu] ul li a {height:30px; font-size:14px;}
}

/* 리스트 및 강조 */
/* * + [data-list] {margin-top:15px;} */
[data-list] {text-indent:0;}
[data-list] > li {position:relative; line-height:1.5em; padding-left:10px; font-size:16px; font-weight:400;}
[data-list] > li:before {content:''; position:absolute; left:0;}
[data-list].type1 > li:before {top:.75em; width:4px; height:1px; background:#333;}
[data-list].type2 > li:before {top:.75em; width:2px; height:2px; background:#333;}
/* [data-list] [data-list] {margin:5px 0;} */
[data-list].type3 > li {padding-left:1.2em; text-indent:-1.2em;}

@media (max-width:1024px) {
	[data-list] > li {line-height:1.5em !important; font-size:14px !important;}
	[data-list].type1 > li:before {top:0.6em;}
}

@media (max-width:599px) {
	[data-list] > li {font-size:12px !important;}
}

/* 인포그래픽 */
[data-graphic] {margin-top:30px; text-align:center;}
[data-graphic]:after {content:''; display:block; clear:both;}
[data-graphic] img {display:block; margin:0 auto;}

@-webkit-keyframes zoom_txt {
    0% {-webkit-transform:scale(1); transform:scale(1);}
	50% {-webkit-transform:scale(1.05); transform:scale(1.05);}
    100% {-webkit-transform:scale(1); transform:scale(1);}
}

@keyframes zoom_txt {
    0% {-webkit-transform:scale(1); transform:scale(1);}
	50% {-webkit-transform:scale(1.05); transform:scale(1.05);}
    100% {-webkit-transform:scale(1); transform:scale(1);}
}

@media (max-width:599px) {
	[data-graphic]:before {content:'모바일에서는 확대해서 확인해주시길 바랍니다.'; display:block; margin-bottom:10px; font-size:12px; color:#f73983; -webkit-transform-origin:center; transform-origin:center; -webkit-animation:zoom_txt 1s linear infinite; animation:zoom_txt 1s linear infinite;}
}

/* 데이터 테이블 */
[data-table] {overflow:hidden; margin-top:10px; margin-bottom:20px;}
[data-table] .attention {font-size:12px; text-align:right;}
[data-table] table {width:calc(100% + 1px); margin-left:-1px; border-top:2px solid #f73983;}
[data-table] table thead th {padding:.5em .25em; background:#ddd; font-size:16px;}
[data-table] table th,
[data-table] table td {line-height:1.5em; padding:.85em .25em; border-bottom:1px solid #bbb; border-left:1px solid #bbb; font-size:14px; vertical-align:middle;}
[data-table] table .half th,
[data-table] table .half td {padding:0 .25em;}
[data-table] table.center th,
[data-table] table.center td {text-align:center;}
[data-table] table th.left,
[data-table] table td.left {text-align:left;}
[data-table] table td.orange {background:#fde9d9;}
[data-table] table td.purple {background:#e2d9fd;}
[data-table] table td.blue {background:#daeef3;}
[data-table] table td.green {background:#dcfbe8;}
[data-table] table td.red {background:#f2dbdb;}
[data-table] table td.yellow {background:#fbfdd9;}
[data-table] table td.pink {background:#f0daf3;}
[data-table] table td.break {background:#dfffb5;}

@media (max-width:1024px) {
	[data-table].fix {overflow-x:auto;}
	[data-table].fix:before {content:"↔ 좌우로 스크롤하여 표를 확인해주시길 바랍니다."; display:block; position:relative; font-size:12px; color:#f73983; -webkit-animation:scroll 1s infinite linear; animation:scroll 1s infinite linear;}
	[data-table].fix table {width:1024px;}
}

@media (max-width:599px) {
	[data-table] table th,
	[data-table] table td {font-size:12px;}
}

@-webkit-keyframes scroll {
    0% {left:0;}
	50% {left:10px;}
    100% {left:0;}
}

@keyframes scroll {
    0% {left:0;}
	50% {left:10px;}
    100% {left:0;}
}

/*=========================================================
4. Slick
=========================================================*/

.slick-slider{display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{display:block;overflow:hidden;position:relative;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{display:block;position:relative;top:0;left:0;margin-right:auto;margin-left:auto}.slick-track:after,.slick-track:before{display:table;content:""}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

/*=========================================================
5. 헤더
=========================================================*/

header {position:fixed; z-index:5; width:100%; height:80px; line-height:0; background:rgba(0,0,0,.75); color:#fff;}
.header_wrap {overflow:hidden; position:relative; padding:28px 0;}
.header_wrap h1 {position:absolute; top:15px; left:0;}
.header_wrap h1 img {height:50px;}
.header_wrap nav {float:right;}
.header_wrap nav ul {margin:0 -55px;}
.header_wrap nav ul li {float:left; padding:0 55px;}
.header_wrap nav ul li a {display:block; line-height:24px; font-size:16px; font-weight:700; color:inherit; transition:all .3s;}
.header_wrap nav ul li a:hover {color:#f73983;}

@media (max-width:1280px) {
	.header_wrap nav {margin-right:0;}
	.header_wrap nav ul {margin:0 -35px;}
	.header_wrap nav ul li {float:left; padding:0 35px;}
}

@media (max-width:1024px) {
	header {height:70px; background:#000;}
	.header_wrap {padding:10px 0; text-align:center;}
	.header_wrap h1 {position:static;}
	.header_wrap .open_menu {position:absolute; top:20px; left:0; width:30px; height:30px; border:1px solid #f73983; text-indent:-9999px;}
	.header_wrap .open_menu span {position:absolute; top:50%; left:50%; width:20px; height:2px; margin-left:-10px; background:#f73983; -webkit-transition:all .3s; transition:all .3s;}
	.header_wrap .open_menu span:nth-child(1) {margin-top:-8px;}
	.header_wrap .open_menu span:nth-child(2) {margin-top:-1px;}
	.header_wrap .open_menu span:nth-child(3) {margin-top:6px;}
	.header_wrap nav {visibility:hidden; float:none; position:fixed; top:0; left:0; z-index:10; width:100%; height:100%; margin:0; background:rgba(0,0,0,.5); text-align:left; opacity:0;}
	.header_wrap nav.on {visibility:visible; opacity:1;}
	.header_wrap .nav_wrap {position:relative; width:280px; height:100%; transform:translateX(-100%);}
	.header_wrap nav.on .nav_wrap {-webkit-transition:all .3s; transition:all .3s; transform:translateX(0);}
	.header_wrap nav ul {height:100%; margin:0; padding:15px 30px; background:rgba(0,0,0,.75);}
	.header_wrap nav ul li {float:none; padding:0; border-top:1px dashed #666;}
	.header_wrap nav ul li:last-child {border-bottom:1px dashed #666;}
	.header_wrap nav ul li a {line-height:2.5em; color:#f73983;}
	.header_wrap .close_menu {position:absolute; top:0; right:-40px; width:40px; height:40px; background:#f73983; text-indent:-9999px;}
	.header_wrap .close_menu:before,
	.header_wrap .close_menu:after {content:''; position:absolute; top:50%; left:50%; width:30px; height:2px; margin-top:-1px; margin-left:-15px; background:rgba(0,0,0,.75);}
	.header_wrap .close_menu:before {transform:rotate(-45deg);}
	.header_wrap .close_menu:after {transform:rotate(45deg);}
}

@media (max-width:599px) {
	.header_wrap nav ul {padding:15px;}
}

/*=========================================================
6. 푸터
=========================================================*/

footer {background:#000; color:#fff;}
.footer_wrap {overflow:hidden; max-width:680px; margin:0 auto; padding:66px 0 60px;}
.footer_wrap img {float:left; height:50px; margin-right:30px;}
.footer_wrap .txt_wrap {float:left; width:calc(100% - 150px); margin-top:-6px;}
.footer_wrap .txt_wrap .tit {line-height:1.5em; font-size:16px; font-weight:700;}
.footer_wrap dl {overflow:hidden; line-height:1.5em; margin-top:7px; font-size:0;}
.footer_wrap dl > div {display:inline-block; margin-right:20px;}
.footer_wrap dl > div:last-child {margin-right:0;}
.footer_wrap dl dt,
.footer_wrap dl dd {display:inline-block; line-height:1.5em; font-size:12px;}
.footer_wrap dl dd a {color:inherit;}
.footer_wrap dl dt:after {content:':'; margin-right:5px;}
.footer_wrap .copyright {line-height:1.5em; font-size:12px;}

@media (max-width:1024px) {
	.footer_wrap {max-width:100%; padding:30px;}
	.footer_wrap img {margin-right:15px;}
	.footer_wrap .txt_wrap .tit {font-size:16px;}
	.footer_wrap dl {margin:0;}
}

@media (max-width:599px) {
	footer {text-align:center;}
	.footer_wrap {padding:15px;}
	.footer_wrap img {float:none; margin:0; margin-bottom:15px;}
	.footer_wrap .txt_wrap {float:none; width:100%;}
	.footer_wrap .txt_wrap .tit {font-size:14px;}
	.footer_wrap dl dt,
	.footer_wrap dl dd,
	.footer_wrap .copyright {font-size:12px;}
}

/*=========================================================
7. 모달, 로딩
=========================================================*/

/* 모달 */
[data-modal] {display:none; top:0; left:0; z-index:100; width:100%; height:100%; background:rgba(0,0,0,.75);}
[data-modal][data-type='fix'] {position:fixed;}
[data-modal][data-type='scroll'] {position:absolute;}
[data-modal].on {display:block; z-index:101;}
[data-modal] .popup {position:absolute; left:50%; top:100px; width:400px; /*height:600px;*/ background:#000; margin-left:-200px; text-align:right; color:#fff;}
[data-modal] #popup1 {margin-left:-450px;}
[data-modal] #popup2 {margin-left:50px;}
[data-modal] .popup .checkbox * {vertical-align:middle; margin-right:5px;}
[data-modal] .popup .close {overflow:hidden; position:absolute; top:-50px; right:0; width:50px; height:50px; text-indent:-9999px; background:#fff;}
[data-modal] .popup .close:before,
[data-modal] .popup .close:after {content:''; position:absolute; top:50%; left:50%; width:2px; height:40px; margin:-20px 0 0 -1px; background:#f73983;}
[data-modal] .popup .close:before {-webkit-transform:rotate(-45deg); transform:rotate(-45deg)}
[data-modal] .popup .close:after {-webkit-transform:rotate(45deg); transform:rotate(45deg);}

@media (max-width:1024px) {
	[data-modal] .popup {margin-left:-200px !important;}
}

@media (max-width:599px) {
	[data-modal] .popup {transform:scale(.75); transform-origin:top; top:60px;}
}

/* 로딩 */
[data-loading] {display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:9999; background:rgba(255,255,255,.95); text-align:center;}
[data-loading] .txt_wrap {position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}

@media (max-width:1024px) {
	[data-loading] .txt_wrap {font-size:12px;}
	[data-loading] .txt_wrap img {height:15px;}
}

/*=========================================================
8. 페이지 스타일
=========================================================*/

/* 공통 */
section {padding:50px 0;}
section h2 {line-height:1.5em; margin-bottom:30px; font-size:32px; font-weight:700; color:#f73983;}
section h2 span {display:inline-block; position:relative; z-index:0;}
section h2 span:before {content:''; position:absolute; bottom:5px; left:0; z-index:-1; width:120%; height:10px; background:rgba(0,0,0,.25); -webkit-transform:skewX(-45deg); transform:skewX(-45deg);}
section h3 {line-height:1.4em; margin-bottom:15px; font-size:24px;}
section h4 {position:relative; line-height:1.4em; margin-top:15px; margin-bottom:30px; font-size:20px; text-align:center;}
section h4:before {content:''; position:absolute; bottom:-10px; left:50%; width:20px; height:4px; margin-left:-10px; background:#f73983;}
section [data-subbox] + [data-subbox] {margin-top:30px;}

@media (max-width:1024px) {
	section h2 {font-size:24px;}
	section h2 span:before {height:6px;}
	section h3 {font-size:18px;}
	section h4 {font-size:16px;}
}

@media (max-width:599px) {
	section {padding:30px 0;}
	section h2 {font-size:20px; text-align:center;}
	section h2 span:before {left:-10%;}
	section h3 {font-size:16px;}
	section h4 {font-size:14px;}
	section h4:before {bottom:-5px; height:2px;}
}

/* 키비주얼 */
.keyvisual {height:900px; margin:0 auto; background:#000 url(../img/img/main_visual.jpg) no-repeat center top; background-size:auto 100%;}
.keyvisual .txt_wrap {position:relative; max-width:1460px; margin:0 auto; padding:0 30px; padding-top:200px;}
.keyvisual .tit_wrap .tit {line-height:1.25em; font-size:48px; font-weight:700; color:#fff;}
.keyvisual .tit_wrap small {display:block; font-size:20px; font-weight:500; color:#f73983;}
.keyvisual .date {line-height:1.25em; margin-top:70px; font-size:32px; font-weight:500; color:#fff;}
.keyvisual .date small {font-size:24px;}
.keyvisual .btn_wrap {margin-top:40px;}
.keyvisual .btn_wrap [data-btn] {line-height:2em; padding:0 40px; font-size:24px; font-weight:700;}

@media (max-width:1024px) {
	.keyvisual {height:400px; background-position:center; background-size:cover; text-align:center;}
	.keyvisual .txt_wrap {padding-top:50px;}
	.keyvisual .tit_wrap .tit {font-size:36px;}
	.keyvisual .tit_wrap small {font-size:16px;}
	.keyvisual .date {margin-top:30px; font-size:24px;}
	.keyvisual .date small {font-size:18px;}
	.keyvisual .btn_wrap {margin-top:30px;}
	.keyvisual .btn_wrap [data-btn] {padding:0 30px; font-size:18px;}
}

@media (max-width:599px) {
	.keyvisual {height:300px;}
	.keyvisual .txt_wrap {padding:0 15px; padding-top:30px;}
	.keyvisual .tit_wrap .tit {font-size:24px;}
	.keyvisual .tit_wrap small {font-size:14px;}
	.keyvisual .date {margin-top:15px; font-size:18px;}
	.keyvisual .date small {font-size:14px;}
	.keyvisual .btn_wrap {margin-top:30px;}
	.keyvisual .btn_wrap [data-btn] {padding:0 15px; font-size:16px;}
}

/* 초대글 */
section.greeting .tit {text-align:center;}
section.greeting .msg {overflow:hidden; margin-top:30px;}
section.greeting img {float:left; width:200px;}
section.greeting .txt_wrap {float:left; width:calc(100% - 200px); padding-left:30px;}
section.greeting .txt_wrap p {line-height:1.6em; font-size:16px;}
section.greeting .txt_wrap .right {display:block; text-align:right;}

@media (max-width:1024px) {
	section.greeting .tit {font-size:18px;}
	section.greeting img {display:block; width:150px; margin:0 auto;}
	section.greeting .txt_wrap {width:calc(100% - 150px);}
	section.greeting .txt_wrap p {font-size:14px;}
}

@media (max-width:599px) {
	section.greeting .tit {font-size:16px;}
	section.greeting img {float:none;}
	section.greeting .txt_wrap {float:none; width:100%; margin-top:15px; padding:0;}
	section.greeting .txt_wrap p {font-size:12px;}
}

/* 행사소개 */
section.info {background:#f73983;}
section.info h2 {color:#fff;}
section.info .cont {overflow:hidden; /* padding:0 50px; */}
section.info .cont .tit {float:left; position:relative; line-height:45px; padding-left:70px; font-size:26px;}
section.info .cont .tit:after {content:':'; padding:0 .3em; font-size:18px; vertical-align:top;}
section.info .data {margin-top:30px;}
section.info .data dl {overflow:hidden;}
section.info .data dl > div {overflow:hidden; margin-bottom:15px;}
section.info .data dl > div:last-child {margin:0;}
section.info .data dl dt,
section.info .data dl dd {line-height:1.6em; font-size:16px;}
section.info .data dl dt {float:left; width:120px; margin-right:20px; border-radius:5px; background:#fff; font-weight:700; text-align:center; white-space:nowrap;}
section.info .data dl dd {overflow:hidden; color:#fff;}
section.info .data dl dd .list {overflow:hidden; margin:-5px;}
section.info .data dl dd .list li {float:left; padding:5px;}
section.info .data dl dd .list li img {height:50px;}

@media (max-width:1024px) {
	section.info .data dl dt,
	section.info .data dl dd {font-size:14px;}
	section.info .data dl dt {width:100px;}
}

@media (max-width:599px) {
	section.info .data dl > div {text-align:center;}
	section.info .data dl dt {float:none; margin:0 auto;}
	section.info .data dl dd {float:none;}
	section.info .data dl dt {width:100px; line-height:2em;}
	section.info .data dl dd {margin-top:5px;}
	section.info .data dl dd .list li {display:inline-block; float:none; font-size:0;}
}

/* 프로그램 */
section.program {background:#efefef;}
section.program .profile .name {font-size:18px; font-weight:700;}
section.program .profile .career {margin-top:10px; color:#666;}
section.program .prof {display:table; margin:0 auto; table-layout:fixed;}
section.program .prof li {display:table-cell; padding:0 15px; text-align:center;}
section.program .prof .date {font-weight:500;}
section.program .prof .img_wrap {overflow:hidden; width:150px; height:150px; margin:15px auto; border-radius:50%;}
section.program .prof .img_wrap img {width:150px; height:150px;}
section.program .musician {overflow:hidden; margin:-15px;}
section.program .musician li {float:left; width:50%; border:15px solid #efefef;}
section.program .musician li .info {overflow:hidden; height:230px; background:#ddd;}
section.program .musician li img {float:left; width:180px; height:180px; border:15px solid #ddd;}
section.program .musician li .profile {float:left; width:calc(100% - 180px); padding:15px; padding-left:0;}
section.program .alert {line-height:1.5em; font-size:14px; color:red;}
section.program .alert:before {content:'※'; margin-right:.25em;}
section.program .session .tit_wrap {margin-bottom:15px;}
section.program .session .tit_wrap .tit {display:block; line-height:1.4em; font-size:24px; font-weight:700; color:#f73983;}
section.program .session .tit_wrap .subtit {display:block; margin-top:5px; font-size:16px; font-weight:500;}
section.program .session .tit_wrap small {display:block; margin-top:5px; font-size:14px;}

@media (max-width:1024px) {
	section.program .profile .name {font-size:16px;}
	section.program .prof {font-size:14px;}
	section.program .prof .img_wrap,
	section.program .prof .img_wrap img {width:80px; height:80px;}
	section.program .musician {margin:-7px;}
	section.program .musician li {float:none; width:100%; border-width:7px;}
	section.program .musician li .info {height:auto;}
	section.program .alert {font-size:12px;}
	section.program .session .tit_wrap .tit {font-size:18px;}
	section.program .session .tit_wrap .subtit {font-size:14px;}
}

@media (max-width:599px) {
	section.program .profile .name {font-size:14px;}
	section.program .profile .career {font-size:12px;}
	section.program .prof {display:block; font-size:12px;}
	section.program .prof li {display:block; width:100%; margin-top:30px;}
	section.program .prof li:first-child {margin:0;}
	section.program .prof .img_wrap,
	section.program .prof .img_wrap img {width:150px; height:150px;}
	section.program .musician li {margin-top:30px; border:0; text-align:center;}
	section.program .musician li:first-child {margin:0;}
	section.program .musician li .info {background:none;}
	section.program .musician li img {float:none; margin-bottom:5px; border:0;}
	section.program .musician li .profile {float:none; width:100%; padding:0;}
	section.program .session .tit_wrap .tit {font-size:16px;}
	section.program .session .tit_wrap small {font-size:12px;}
}

/* 사전등록 */
section.attend .attend_order {overflow:hidden; margin-top:30px;}
section.attend .attend_order li {float:left; position:relative; width:25%; font-size:0; text-align:center;}
section.attend .attend_order li:after {content:''; position:absolute; top:68px; right:-2px; width:20px; height:20px; border-top:2px solid #0f3a17; border-right:2px solid #0f3a17; transform:rotate(45deg);}
section.attend .attend_order li:last-child:after {display:none;}
section.attend .attend_order li img {display:block; width:149px; height:149px; margin:0 auto;}
section.attend .attend_order li .txt_wrap {display:table; width:100%; height:3em; margin-top:10px; font-size:16px;}
section.attend .attend_order li .txt_wrap span {display:table-cell; vertical-align:middle;}
section.attend .alert {line-height:1.5em; font-size:14px; color:red;}
section.attend .alert:before {content:'※'; margin-right:.25em;}

@media (max-width:1024px) {
	section.attend .attend_order {max-width:700px; margin:0 auto;}
	section.attend .attend_order li:after {top:32px; width:10px; height:10px;}
	section.attend .attend_order li img {width:75px; height:75px;}
	section.attend .attend_order li .txt_wrap {height:4.5em; font-size:14px;}
	section.attend .alert {font-size:12px;}
}

@media (max-width:599px) {
	section.attend h3 {text-align:center;}
	section.attend .attend_order li {float:none; width:100%; margin-bottom:15px;}
	section.attend .attend_order li:after {display:none;}
	section.attend .attend_order li .txt_wrap {display:block; height:auto;}
	section.attend .attend_order li .txt_wrap span {display:block;}
}

/* 오시는길 */
section.contact {background:#efefef;}
section.contact #map {width:100%; height:500px; border:2px solid #d6d6d6;}
section.contact .icon {position:relative; padding-left:1.6em;}
section.contact .icon:after {content:''; position:absolute; top:50%; left:0; width:30px; height:30px; margin-top:-15px; background-size:100%;}
section.contact .car:after {background-image:url(../img/ico/ico_car.png);}
section.contact .bus:after {background-image:url(../img/ico/ico_bus.png);}
section.contact .route,
section.contact .route li {display:inline;}
section.contact .route li:after {content:'▶'; margin:0 5px 0 10px; font-size:smaller; font-weight:700; color:#f73983;}
section.contact .route li:last-child:after {display:none;}

@media (max-width:1024px) {
	section.contact #map {height:400px;}
	section.contact .icon:after {width:20px; height:20px; margin-top:-10px;}
}

@media (max-width:599px) {
	section.contact #map {width:calc(100% + 30px); margin-left:-15px; border:0; height:300px;}
	section.contact .icon:after {width:16px; height:16px; margin-top:-8px;}
}

@keyframes scroll {
	0% {-webkit-transform:translateX(0px); transform:translateX(0px);}
	50% {-webkit-transform:translateX(8px); transform:translateX(8px);}
	100% {-webkit-transform:translateX(0); transform:translateX(0);}
}

@-webkit-keyframes scroll {
	0% {-webkit-transform:translateY(0px); transform:translateY(0px);}
	50% {-webkit-transform:translateX(8px); transform:translateX(8px);}
	100% {-webkit-transform:translateY(0); transform:translateY(0);}
}