@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
/* @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css); */

/* 본고딕 */
@font-face {
	font-family:"Noto Sans KR";
	font-weight:normal;
	src: url("../fonts/notokr-regular.eot");
	src: local("※"), 
	url("../fonts/notokr-regular.woff2") format("woff2"), 
	url("../fonts/notokr-regular.woff") format("woff");
}

@font-face {
	font-family:"Noto Sans KR";
	font-weight:700;
	src: url("../fonts/notokr-bold.eot");
	src: local("※"), 
	url("../fonts/notokr-bold.woff2") format("woff2"), 
	url("../fonts/notokr-bold.woff") format("woff");
}

/*=========================================================
2. 리셋
=========================================================*/

html {letter-spacing:-.025em;}
/* html,body {height:100%;} */
html.fixed,
body.fixed {overflow:hidden; position:fixed; width:100%; touch-action:none;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {-webkit-box-sizing:border-box;box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Roboto",'Noto Sans KR',Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; vertical-align:baseline;}

input[type='text'],input[type='email'],input[type='number'],input[type='submit'],input[type='reset'],input[type='tel'],input[type='password'],input[type='url'],input[type='search'],input[type='file'],select,button,textarea {margin:0; padding:0; box-sizing:border-box; border:none; border-radius:0; background:none; background:#fff; font-family:'Roboto','Noto Sans KR',Dotum,'돋움',Helvetica,'Apple SD Gothic Neo',sans-serif; font-size:100%; letter-spacing:0; -webkit-box-sizing:border-box; cursor:pointer; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
select::-ms-expand {display:none;}
body {background:#fff; font-size:14px; line-height:1.5; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6 {line-height:1.2;}
blockquote,q {quotes:none;}
table {width:100%; background:#fff; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#333; text-decoration:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
button {cursor:pointer; background:transparent;}
button span {position:relative;}
textarea {resize:none;}
em,address,i {font-style:normal;}
:focus {outline:0 !important;}
:invalid {-webkit-box-shadow:none;box-shadow:none;}
:disabled {background:#f1f1f1 !important; cursor:not-allowed !important;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
label {cursor:pointer;}
caption {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Hidden */
.hidden {overflow:hidden; clip:rect(0 0 0 0); position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0;}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#ccc;}
::-moz-placeholder {font-weight:400; color:#ccc;}
:-ms-input-placeholder {font-weight:400; color:#ccc;}
:-moz-placeholder {font-weight:400; color:#ccc;}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

.wrap {background:#2d397e url(../img/bg/bg_main.jpg) no-repeat;}
.container {position:relative; max-width:1260px; margin:0 auto; padding:0 30px;}
.container.wide {max-width:1560px;}
.move_top {visibility:hidden; position:fixed; right:30px; bottom:30px; z-index:7; transition:all .3s; opacity:0;}
.move_top.on {visibility:visible; bottom:40px; opacity:1;}
.move_top button {position:relative; width:45px; height:45px; line-height:1; border-radius:50%; background:#ffb634; text-align:center; transition:all .3s;}
.move_top button span {font-size:14px;}
/* .move_top button:hover {background:#465ea8;} */

@media (max-width:1024px) {
	.content {padding-top:50px; padding-bottom:30px;}
	.move_top button {width:30px; height:30px;}
	.move_top button span {font-size:12px;}
}

@media (max-width:599px) {
	.container {padding:0 15px;}
	.move_top {right:15px;}
}

/* 입력폼 */
input[type='text'],
input[type='password'],
input[type='email'] {line-height:38px; padding:0 10px; border:1px solid #ccc; font-size:14px;}

/* 체크박스 */
[data-checkbox] {display:inline-block; margin:3px 0; vertical-align:middle;}
[data-checkbox] ul {overflow:hidden; margin:-3px 0; font-size:0;}
[data-checkbox] ul > li {float:left; line-height:1; margin:3px 0;}
[data-checkbox] input[type='checkbox'] {width:0; height:0; line-height:0; margin:0; padding:0; font-size:0; opacity:0;}
[data-checkbox] ul:after,
[data-checkbox] ul > li:after {content:''; display:block; clear:both;}
[data-checkbox] input[type='checkbox'] + label {float:left; position:relative; line-height:20px; margin-right:30px; padding-left:30px; font-size:16px; font-weight:500; color:#333; cursor:pointer;}
/* [data-checkbox] input[type='checkbox']:focus + label {outline:1px dashed firebrick;} */
[data-checkbox] ul > li:last-child input[type='checkbox'] + label {margin-right:0;}
[data-checkbox] input[type='checkbox'] + label:before {content:''; display:inline-block; position:absolute; top:50%; left:0; width:20px; height:20px; margin-top:-10px; -webkit-box-sizing:border-box; box-sizing:border-box; border:1px solid #c2c2c2; background:#fff;}
[data-checkbox] input[type='checkbox']:checked + label:after {content:''; display:inline-block; position:absolute; top:2px; left:7px; width:5px; height:10px; border-right:2px solid #0b8fd3; border-bottom:2px solid #0b8fd3; -webkit-transform:rotate(35deg) skewY(15deg); transform:rotate(35deg) skewY(15deg);}
[data-checkbox] input[type='checkbox']:disabled + label:before {background:#c2c2c2;}

@media (max-width:1024px) {
	[data-checkbox] input[type='checkbox'] + label {font-size:14px;}
}

@media (max-width:599px) {
	[data-checkbox] input[type='checkbox'] + label {font-size:12px;}
}

/* 라디오버튼 */
[data-radio] {display:inline-block; margin:3px 0; vertical-align:middle;}
[data-radio] ul {overflow:hidden; margin:-3px 0; font-size:0;}
[data-radio] ul > li {float:left; line-height:1; margin:3px 0;}
[data-radio] input[type='radio'] {width:0; height:0; line-height:0; margin:0; padding:0; font-size:0; opacity:0;}
[data-radio] ul:after,
[data-radio] ul > li:after {content:''; display:block; clear:both;}
[data-radio] input[type='radio'] + label {float:left; position:relative; line-height:20px; margin-right:30px; padding-left:30px; font-size:16px; font-weight:500; color:#333; cursor:pointer;}
/* [data-radio] input[type='radio']:focus + label {outline:1px dashed firebrick;} */
[data-radio] ul > li:last-child input[type='radio'] + label {margin-right:0;}
[data-radio] input[type='radio'] + label:before {content:''; display:inline-block; position:absolute; top:50%; left:0; width:20px; height:20px; margin-top:-10px; -webkit-box-sizing:border-box; box-sizing:border-box; border:1px solid #c2c2c2; border-radius:50%; background:#fff;}
[data-radio] input[type='radio']:checked + label:after {content:''; display:inline-block; position:absolute; top:50%; left:5px; width:10px; height:10px; margin-top:-5px; border-radius:50%; background:#0b8fd3;}
[data-radio] input[type='radio']:disabled + label:before {background:#c2c2c2;}

@media (max-width:1024px) {
	[data-radio] input[type='radio'] + label {font-size:14px;}
}

@media (max-width:599px) {
	[data-radio] input[type='radio'] + label {font-size:12px;}
}

/* 셀렉트박스 */
[data-select-box] {display:inline-block; position:relative; background:#fff; font-size:16px; text-align:left; vertical-align:middle ;}
[data-select-box]:after {content:''; position:absolute; top:50%; right:8px; width:6px; height:6px; margin-top:-6px; border-right:2px solid #333; border-bottom:2px solid #333; transition:all .2s; transform:rotate(45deg);}
[data-select-box] select {position:relative; width:100%; min-width:180px; height:40px; line-height:40px; padding:0 20px 0 10px; border:1px solid #ccc; font-size:14px; text-align:left; text-overflow:ellipsis;}

@media (max-width:1024px) {
	[data-select-box] select {max-width:100%;}
}

/* 제어 버튼 */
.btn_wrap {margin-top:30px; text-align:center;}
[data-btn] {display:inline-block; position:relative; min-width:250px; line-height:54px; margin:0 20px; padding:0 15px; border:0; border-radius:27px; background:#0b8fd3; font-size:18px; color:#fff; text-align:center; white-space:nowrap;}
[data-btn].full {min-width:100%; margin:0;}
[data-btn].cancel {background:#c2c2c2; color:#333;}
[data-ctr-btn] {margin-top:50px; font-size:0; text-align:center;}
[data-ctr-btn].right {text-align:right;}
[data-ctr-btn] [data-btn]:only-child {margin:0;}

@media (max-width:1024px) {
	[data-btn] {min-width:120px; line-height:40px; margin:0 5px; font-size:14px;}
	[data-ctr-btn] {margin-top:30px; text-align:center !important;}
}

@media (max-width:599px) {
	[data-btn] {padding:0 10px; font-size:12px;}
	[data-btn].wide {width:100% !important; margin:0;}
}

/* 탭메뉴 */
[data-tab-menu] {padding:0 140px;}
[data-tab-menu] ul {overflow:hidden;}
[data-tab-menu] ul:after {content:''; display:block; clear:both;}
[data-tab-menu] ul li {float:left; width:25%; border-right:1px solid #239cff;}
[data-tab-menu] ul li:first-child {border-left:1px solid #239cff;}
[data-tab-menu] ul li a {display:block; text-align:center; color:#fff; font-size:24px; line-height:1.2em; padding:10px 0;}
[data-tab-menu] ul li a small {display:block; font-size:16px; line-height:1.2em;}

@media (max-width:1024px) {
	[data-tab-menu] {padding:0 30px;}
	[data-tab-menu] ul li a {padding:.3em 0; font-size:14px;}
	[data-tab-menu] ul li a small {font-size:12px;}
}

@media (max-width:599px) {
	[data-tab-menu] ul li {width:50%; margin:0;}
	[data-tab-menu] ul li:nth-child(odd) {border-left:1px solid #239cff;}
}

/* 리스트 및 강조 */
* + [data-list] {margin-top:15px;}
[data-list] {text-indent:0;}
[data-list] > li {position:relative; line-height:1.5em; padding-left:1em; font-size:16px; font-weight:400;}
[data-list] > li:before {content:''; position:absolute; left:0;}
[data-list].type1 > li:before {top:.6em; width:.5em; height:2px; background:#333;}
[data-list].type2 > li:before {top:.55em; width:4px; height:4px; background:#333;}
[data-list] [data-list] {margin:5px 0 10px;}
[data-list].type3 > li {padding-left:.8em; text-indent:-.8em;}

@media (max-width:1024px) {
	[data-list] > li {line-height:1.5em !important; font-size:14px !important;}
	[data-list].type1 > li:before {top:0.6em;}
}

@media (max-width:599px) {
	[data-list] > li {font-size:12px !important;}
}

/* 프로그램 테이블 */
[data-table] {margin-top:25px;}
[data-table] dl {display:table; width:100%; table-layout:fixed;}
[data-table] dl > div {display:table-row;}
[data-table] dt,
[data-table] dd {display:table-cell; height:70px; padding:.75em 30px; border-bottom:10px solid #fff; vertical-align:middle;}
[data-table] dt {width:230px; border-right:10px solid #fff; background:#239cff; font-weight:700; color:#fff; text-align:center;}
[data-table] dd {background:#f1f1f1;}
[data-table] dd.btn {width:200px; padding:.75em 10px; text-align:right;}
[data-table] dd.btn [data-link] {margin:1px 0;}

@media (max-width:1024px) {
	[data-table] {margin-top:15px;}
	[data-table] dl,
	[data-table] dl > div,
	[data-table] dt,
	[data-table] dd {display:block; width:100% !important; height:auto; border:0;}
	[data-table] dt,
	[data-table] dd {padding:.5em 15px !important;}
	[data-table] dt {font-size:1.1em;}
	[data-table] dt br {display:none;}
	[data-table] dd.btn {text-align:left;}
}

/* 프로그램 링크 버튼 */
[data-link] {display:inline-block; position:relative; width:90px; line-height:22px; padding:3px; padding-left:32px; border-radius:14px; font-size:12px; font-weight:500; color:#fff; text-align:left; vertical-align:middle;}
[data-link]:before {content:''; position:absolute; top:3px; left:3px; width:22px; height:22px; border-radius:50%; background:rgba(255,255,255,.35); background:linear-gradient(135deg, rgba(255,255,255,.35) 0%, rgba(0,0,0,.35) 100%);}
[data-link]:after {content:''; position:absolute; top:8px; left:10px; width:0; height:0; border-width:6px 9px; border-style:solid; border-color:transparent transparent transparent #fff;}
[data-link='access'] {background:#ee1c24;}
[data-link='blue'] {width:180px; background:#3170c1;}
[data-link='green'] {width:180px; background:#4b9d47;}
[data-link='yellow'] {width:180px; background:#ff9000;}

/*=========================================================
4. Slick
=========================================================*/

.slick-slider{display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{display:block;overflow:hidden;position:relative;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{display:block;position:relative;top:0;left:0;margin-right:auto;margin-left:auto}.slick-track:after,.slick-track:before{display:table;content:""}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

/*=========================================================
5. 헤더
=========================================================*/

header {padding:35px 0; text-align:center;}

@media (max-width:1024px) {
	header {padding:15px 0;}
}

/*=========================================================
6. 푸터
=========================================================*/

footer {padding:30px 0; background:#0c1525; text-align:center;}
footer .info {display:inline-block; overflow:hidden; text-align:left;}
footer .host,
footer address {float:left;}
footer .host span {display:inline-block; line-height:64px; font-size:18px; color:#fff; margin-right:20px; vertical-align:middle;}
footer .host img {vertical-align:middle;}
footer address {margin-left:80px; margin-top:15px;color:#a1a3a7; font-size:14px;}
footer address a {color:inherit;}

@media (max-width:1024px) {
	footer {padding:15px 0;}
	footer .info {text-align:center;}
	footer .host,
	footer address {float:none;}
	footer .host span {line-height:32px; font-size:14px;}
	footer .host img {height:32px;}
	footer address {margin:0; margin-top:15px; font-size:12px;}
}

/*=========================================================
7. 모달, 로딩
=========================================================*/

/* 모달 */
[data-modal] {display:none; top:0; left:0; z-index:100; width:100%; height:100%; background:rgba(0,0,0,.75);}
[data-modal][data-type='fix'] {position:fixed;}
[data-modal][data-type='scroll'] {position:absolute;}
[data-modal].on {display:block; z-index:101;}
[data-modal] .modal {overflow-y:auto; position:absolute; left:50%; width:1000px; max-width:calc(100vw - 30px); max-height:calc(100vh - 30px); padding:40px; background:#fff; -webkit-box-shadow:10px 10px 20px rgba(0,0,0,.05); box-shadow:10px 10px 20px rgba(0,0,0,.05);}
[data-modal][data-type='fix'] .modal {top:50%;}
[data-modal] .movie {position:relative; height:0; margin-top:15px; padding-top:56.25%;}
[data-modal] .movie iframe {position:absolute; top:0; left:0; width:100%; height:100%;}
[data-modal] .modal .close {position:absolute; top:0; right:0; width:40px; height:40px; background:#000; text-indent:-9999px;}
[data-modal] .modal .close:before,
[data-modal] .modal .close:after {content:''; position:absolute; top:50%; left:50%; width:2px; height:24px; background:#fff;}
[data-modal] .modal .close:before {-webkit-transform:translate(-50%,-50%) rotate(-45deg); transform:translate(-50%,-50%) rotate(-45deg);}
[data-modal] .modal .close:after {-webkit-transform:translate(-50%,-50%) rotate(45deg); transform:translate(-50%,-50%) rotate(45deg);}
[data-modal] [data-column-box] {padding:0;}
[data-modal] [data-column-box] .column_tit {padding-left:40px;}
[data-modal] [data-column-box] .column_tit:before {left:0;}

@media (max-width:1024px) {
	[data-modal] .modal {padding:30px; max-height:calc(100vh - 60px);}
	[data-modal] .modal .close {transform:scale(.75); transform-origin:right top;}
	[data-modal] .info img {width:120px;}
	[data-modal] .info .speaker {width:calc(100% - 120px); line-height:1.35em;}
	[data-modal] .info .part,
	[data-modal] .info .story {font-size:14px;}
	[data-modal] .info .name {font-size:20px;}
	[data-modal] .info .spec {font-size:12px;}
	[data-modal] [data-column-box] .column_tit {padding-left:25px;}
}

@media (max-width:599px) {
	[data-modal] .modal {padding:15px; padding-top:30px; max-height:calc(100vh - 120px);}
	[data-modal] .info img {display:block; float:none; margin:0 auto;}
	[data-modal] .info .speaker {float:none; width:100%; margin-top:15px; padding:0;}
	[data-modal] .info .name {font-size:18px;}
	[data-modal] .info .part,
	[data-modal] .info .spec,
	[data-modal] .info .story {font-size:12px;}
}

/* 로딩 */
[data-loading] {display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:9999; background:rgba(255,255,255,.95); text-align:center;}
[data-loading] .txt_wrap {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}

@media (max-width:1024px) {
	[data-loading] .txt_wrap {font-size:12px;}
	[data-loading] .txt_wrap img {height:15px;}
}

/*=========================================================
8. 페이지 스타일
=========================================================*/

/* 서브 헤더 영역 */
[data-sub-header] {display:table; width:100%; height:150px; text-align:center; color:#fff;}
[data-sub-header] .txt_wrap {display:table-cell; vertical-align:middle;}
[data-sub-header] h2 {font-size:50px; font-weight:500;}
[data-sub-header].small {height:auto; margin-bottom:30px;}
[data-sub-header].small h2 {font-size:32px;}

@media (max-width:1024px) {
	[data-sub-header] {height:auto !important; margin:30px 0;}
	[data-sub-header] h2 {font-size:24px !important;}
}

@media (max-width:599px) {
	[data-sub-header] {margin:15px 0;}
	[data-sub-header] h2 {font-size:18px !important;}
}

/* 컨텐츠 영역 */
[data-content-box] {margin-bottom:100px; padding:40px 30px; border-radius:30px; background:#fff;}

@media (max-width:1024px) {
	[data-content-box] {margin-bottom:30px; border-radius:15px;}
}

@media (max-width:599px) {
	[data-content-box] {padding:30px 15px;}
}

/* 서브 컬럼 박스 */
[data-column-box] {margin:30px 0 60px; padding:0 55px; font-size:16px;}
[data-column-box]:first-child {margin-top:0;}
[data-column-box] .column_tit {position:relative; margin-bottom:10px; font-size:40px; font-weight:500; color:#000;}
[data-column-box] .column_tit small {font-size:.7em; font-weight:500;}
[data-column-box] .column_txt + .column_txt {margin-top:1.5em;}

@media (max-width:1024px) {
	[data-column-box] {margin:30px 0; padding:0; font-size:14px;}
	[data-column-box] .column_tit {margin-bottom:15px; font-size:24px; font-weight:700;}
	[data-column-box] .column_tit small {font-size:.8em;}
}

@media (max-width:599px) {
	[data-column-box] {font-size:12px;}
	[data-column-box] .column_tit {font-size:18px;}
}

/* Overview */
.overview .login {margin-top:20px; border:1px solid #b7b7b7; border-radius:25px;}
.overview .login_form {overflow:hidden; width:810px; margin:30px auto;}
.overview .login_form .input_wrap {overflow:hidden; float:left; width:610px; margin-bottom:10px;}
.overview .login_form .input_wrap:last-of-type {margin-bottom:0;}
.overview .login_form .input_wrap label {float:left; width:230px; line-height:50px; padding-right:15px; font-size:16px; text-align:right;}
.overview .login_form .input_wrap input {float:left; width:380px; height:50px; line-height:50px; font-size:16px;}
.overview .login_form button {width:180px; height:110px; margin-left:20px; background:#b7b7b7; font-size:20px; color:#fff;}

@media (max-width:1280px) {
	.overview .login_form {width:730px;}
	.overview .login_form .input_wrap {width:530px;}
	.overview .login_form .input_wrap input {width:300px;}
}

@media (max-width:1024px) {
	.overview .login {border-radius:15px; padding:0 15px;}
	.overview .login_form {width:100%; margin:15px auto;}
	.overview .login_form .input_wrap {width:100%;}
	.overview .login_form .input_wrap:last-of-type {margin-bottom:10px;}
	.overview .login_form .input_wrap label,
	.overview .login_form .input_wrap input {float:none; width:100%; line-height:1.5em; font-size:14px;}
	.overview .login_form .input_wrap input {height:30px; line-height:30px;}
	.overview .login_form button {width:100%; height:50px; margin:0; font-size:14px;}
}

@media (max-width:599px) {
	.overview .login_form .input_wrap label,
	.overview .login_form .input_wrap input,
	.overview .login_form button {font-size:12px;}
}

/* Program */
.program .info_wrap {overflow:hidden;}
.program .info_wrap .column_txt {float:left;}
.program .info_wrap .download {float:right; position:relative; padding:5px 20px; padding-left:65px; border:1px solid #333;}
.program .info_wrap .download:before {content:''; position:absolute; top:13px; left:18px; width:30px; height:26px; background:url(../img/ico/ico_paper.jpg);}
.program .info_wrap .download span {display:block; font-size:14px;}
.program [data-table] dt {width:300px; color:#333;}
.program [data-table] .day1 dt {background:#ffb634;}
.program [data-table] .day2 dt {background:#8dbd3f;}
.program [data-table] .day3 dt {background:#1bb9ec;}
.program [data-table] .time_wrap {overflow:hidden; line-height:1em; font-size:1.1em; text-align:left;}
.program [data-table] .time_wrap small {display:block; font-size:12px; text-transform:uppercase;}
.program [data-table] .date {float:left;}
.program [data-table] .time {float:right;}

@media (max-width:1024px) {
	.program .info_wrap .column_txt,
	.program .info_wrap .download {float:none;}
	.program .info_wrap .download {display:inline-block; margin-top:1em; padding:5px 10px;}
	.program .info_wrap .download:before {display:none;}
	.program .info_wrap .download span {font-size:12px;}
	.program [data-table] .time_wrap {text-align:center;}
	.program [data-table] .time_wrap small {display:none;}
	.program [data-table] .date,
	.program [data-table] .time {display:inline-block; float:none;}
}

/* Greetings */
.greetings .greetings_txt {line-height:1.35em; margin:30px 0; /*font-family:'Nanum Myeongjo';*/ font-size:1.6em; font-weight:700; color:#0162b2;}
.greetings .signature {margin-top:3em; text-align:right;}
.greetings .signature .name {font-size:1.5em; font-weight:700;}

@media (max-width:1024px) {
	.greetings .signature .name {font-size:1.25em;}
}

/* Forum */
.forum .forum_list {overflow:hidden; margin:-6px; margin-top:25px; margin-bottom:-25px;}
.forum .forum_list li {float:left; width:25%; margin-bottom:25px; padding:6px;} 
.forum .forum_list li .tit {display:block; font-size:1.1em; font-weight:500;}
.forum .forum_list .btn_wrap {display:table; width:100%; margin-top:4px; table-layout:fixed;}
.forum .forum_list li img {display:block; width:100%;}
.forum .forum_list .btn_wrap a {display:table-cell; height:50px; line-height:1.35em; padding:0 5px; font-size:.8em; color:#fff; text-align:center; vertical-align:middle;}
.forum .forum_list .btn_wrap a:first-child {border-right:2px solid #fff; background:#363636;}
.forum .forum_list .btn_wrap a:last-child {border-left:2px solid #fff; background:#509f47;}

@media (max-width:1024px) {
	.forum .forum_list li {width:50%;}
	.forum .forum_list li .tit {font-size:1.25em; font-weight:700;}
	.forum .forum_list .btn_wrap a {font-size:1em;}
}

@media (max-width:599px) {
	.forum .forum_list li {width:100%;}
}